## Navigation Using ElectroMagnetic Field Variations
### Report 1, Subject: Data Collection, May 2019
#### By M. A.

### EMM ( ElectroMagneticModel ) Maps
#### National Center for Environmental Information, National Ocean and Atmospheric Administration (NOAA)
#### Resource: https://www.ngdc.noaa.gov/geomag/EMM/

emm_sph_grid queries: <br/>
>input: lat (min, max) long (min, max) step_size mean_sea_level (min, max, step_size) year(min, max, step_zie)<br/>
>output: 
     1. Declination	9.   Ddot
     2. Inclination	10. Idot
     3. F		11. Fdot
     4. H		12. Hdot
     5. X		13. Xdot
     6. Y		14. Ydot
     7. Z		15. Zdot
     8. GV		16. GVdot

<br/>desired: X, Y, Z ( for now )

### Extracting Tehran EMM Map
#### Info:
top right : 35.766860, 51.058130 <br/>
top left: 35.734456, 51.642174<br/>
bottom left: 35.553916, 51.594479<br/>
<br/>
<br/>
minimum lat:	35.553916	maximum lat: 35.766860<br/>
minumum long:	51.058130	maximum long: 51.642174<br/>
<br/>
Generalized:<br/> 
minimum lat:	35.55	maximum lat: 35.77<br/>
minumum long:	51.05	maximum long: 51.65<br/>
<br/>
Step Size: 0.001<br/>
<br/>
Above Mean Sea Level: 1.178 km 0.01<br/>
Year: 2017<br/>

#### Query Example for Extracting X:
Please Enter Minimum Latitude (in decimal degrees):<br/>
35.55<br/>
Please Enter Maximum Latitude (in decimal degrees):<br/>
35.77<br/>
Please Enter Minimum Longitude (in decimal degrees):<br/>
51.05<br/>
Please Enter Maximum Longitude (in decimal degrees):<br/>
51.65<br/>
Please Enter Step Size (in decimal degrees):<br/>
0.001<br/>
Select height (default : above MSL) <br/>
1.Above Mean Sea Level<br/>
2.Above WGS-84 Ellipsoid <br/>
1<br/>
Please Enter Minimum Height above MSL (in km):<br/>
1.178<br/>
Please Enter Maximum Height above MSL (in km):<br/>
1.178<br/>
Please Enter height step size (in km):<br/>
0.01<br/>
<br/>
Please Enter the decimal year starting time:<br/>
2017<br/>
Please Enter the decimal year ending time:<br/>
2017<br/>
Please Enter the time step size:<br/>
1<br/>

#### for Y and Z, we execute the same query.

#### Extracted data are stored in these 3 files:
>Tehran2017X.txt<br/>Tehran2017Y.txt<br/>Tehran2017Z.txt<br/>

### Importing data from files and cleaning it

In [42]:
import pandas as pd
X = pd.read_csv('Tehran2017X.txt', delimiter = " ", header=None, usecols=[0,2,5,6,9], names = ["lat", "long", "mean_sea_level", "year","X"])
Y = pd.read_csv('Tehran2017Y.txt', delimiter = " ", header=None, usecols=[0,2,5,6,10], names = ["lat", "long", "mean_sea_level", "year","Y"])
Z = pd.read_csv('Tehran2017Z.txt', delimiter = " ", header=None, usecols=[0,2,5,6,9], names = ["lat", "long", "mean_sea_level", "year","Z"])

### Showing Data Properties: Shape and Sample

In [45]:
print(X.shape, Y.shape, Z.shape)

(132821, 5) (132821, 5) (132821, 5)

In [46]:
print(X[1:10], "\n", Y[1:10], "\n", Z[1:10])

     lat   long  mean_sea_level    year         X
1  35.55  51.05           1.178  2017.0  27941.66
2  35.55  51.05           1.178  2017.0  27941.71
3  35.55  51.05           1.178  2017.0  27941.75
4  35.55  51.05           1.178  2017.0  27941.79
5  35.55  51.05           1.178  2017.0  27941.83
6  35.55  51.06           1.178  2017.0  27941.87
7  35.55  51.06           1.178  2017.0  27941.91
8  35.55  51.06           1.178  2017.0  27941.95
9  35.55  51.06           1.178  2017.0  27941.98
      lat   long  mean_sea_level    year        Y
1  35.55  51.05           1.178  2017.0  2255.54
2  35.55  51.05           1.178  2017.0  2255.61
3  35.55  51.05           1.178  2017.0  2255.68
4  35.55  51.05           1.178  2017.0  2255.76
5  35.55  51.05           1.178  2017.0  2255.84
6  35.55  51.06           1.178  2017.0  2255.91
7  35.55  51.06           1.178  2017.0  2255.99
8  35.55  51.06           1.178  2017.0  2256.07
9  35.55  51.06           1.178  2017.0  2256.15
      lat   long  mean_sea_level    year         Z
1  35.55  51.05           1.178  2017.0  39171.50
2  35.55  51.05           1.178  2017.0  39171.49
3  35.55  51.05           1.178  2017.0  39171.47
4  35.55  51.05           1.178  2017.0  39171.46
5  35.55  51.05           1.178  2017.0  39171.45
6  35.55  51.06           1.178  2017.0  39171.45
7  35.55  51.06           1.178  2017.0  39171.44
8  35.55  51.06           1.178  2017.0  39171.43
9  35.55  51.06           1.178  2017.0  39171.43

### Creating Sample and Label Matrix

In [58]:
Samples = pd.DataFrame({"X":X["X"], "Y":Y["Y"], "Z":Z["Z"]})
print(Samples.shape)
print(Samples[1:10]) # Prints 10 Samples

(132821, 3)
          X        Y         Z
1  27941.66  2255.54  39171.50
2  27941.71  2255.61  39171.49
3  27941.75  2255.68  39171.47
4  27941.79  2255.76  39171.46
5  27941.83  2255.84  39171.45
6  27941.87  2255.91  39171.45
7  27941.91  2255.99  39171.44
8  27941.95  2256.07  39171.43
9  27941.98  2256.15  39171.43

In [60]:
Lables = pd.DataFrame({"lat":X["lat"], "long":X["long"]})
print(Lables.shape)
print(Lables[1:10]) # Prints 10 Samples

(132821, 2)
     lat   long
1  35.55  51.05
2  35.55  51.05
3  35.55  51.05
4  35.55  51.05
5  35.55  51.05
6  35.55  51.06
7  35.55  51.06
8  35.55  51.06
9  35.55  51.06

### Splitting Data to Train and Test Sets ( 70% for Train and Validation, 30% for Test )

In [70]:
from sklearn.model_selection import train_test_split

# we keep 30% random examples for test
X_train, X_test, Y_train, Y_test = train_test_split(Samples,
Lables, test_size=0.3, random_state=101)

In [71]:
print("X_train Samples:\n", X_train[1:10], "\n\nY_train Samples\n", Y_train[1:10])

X_train Samples:
                X        Y         Z
17965   27918.59  2201.32  39261.93
97921   27848.84  2215.43  39378.51
120310  27797.45  2283.77  39353.19
11658   27914.40  2270.05  39220.48
128296  27803.92  2273.14  39383.88
67361   27848.92  2269.77  39281.24
82958   27824.25  2276.95  39301.26
83305   27847.69  2259.44  39337.20
39991   27884.28  2260.64  39273.72

Y_train Samples
           lat   long
17965   35.58  51.59
97921   35.71  51.61
120310  35.75  51.16
11658   35.57  51.29
128296  35.76  51.33
67361   35.66  51.10
82958   35.69  51.07
83305   35.69  51.42
39991   35.62  51.37

In [72]:
print("X_test Samples:\n", X_test[1:10], "\n\nY_test Samples\n", Y_test[1:10])

X_test Samples:
                X        Y         Z
75348   27850.88  2269.96  39301.31
9742    27925.97  2267.42  39196.06
95774   27831.23  2272.54  39328.55
115635  27814.13  2274.21  39360.10
12520   27919.28  2210.60  39257.24
50005   27876.02  2266.78  39257.36
11254   27914.55  2230.11  39255.67
125049  27780.62  2293.26  39351.90
5794    27916.41  2244.38  39244.37

Y_test Samples
           lat   long
75348   35.67  51.27
9742    35.57  51.18
95774   35.71  51.26
115635  35.74  51.29
12520   35.57  51.55
50005   35.63  51.17
11254   35.57  51.49
125049  35.76  51.09
5794    35.56  51.43